<div class="container mb-5">
  <div class="row">
    <h3 class="mb-5 bg-light px-4 shadow">ジャンル編集</h3>
  </div>

  <%= form_with model: @genre, url: admin_genre_path(@genre.id),method: :patch, local: true do |f| %>
   <div class="row form_group">
     <%= f.label :"ジャンル名", class: "col-auto col-form-label" %>
     <div class="col-auto align-self-center"><%= f.text_field :genre_name %></div>
     <div class+"col-auto"><%= f.submit "変更を保存", class: 'btn btn-success bt-lg' %></div>
   </div>
  <% end %>
</div>