<header>
  <nav class="navbar navbar-expand-lg navbar-success bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>



        <ul class="navbar-nav ml-auto">
        
        <% if customer_signed_in? or admin_signed_in? %>

          <li>
           <%= link_to "logout", destroy_customer_session_path, method: :delete %>
          </li>

        <% else %>

          <li>
            login
          </li>

        <% end %>
        </ul>

      </div>

    </div>
  </nav>
</header>